main {
    padding: 1rem;
    flex: 1;
}

h1 {
    padding: 2rem 0;
    text-transform: uppercase;
}

.rating span{
    color: #ffc000;
}

.btn-primary {
    background-color: #f0c040;
    color: #000;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .product {
        border: 1px solid #909090;
        padding: 0 0.5rem;
        border-radius: 0.5rem;
        flex: 1;
        
        img {
            width: 100%;
            max-width: 400px;
        }

        .product-info {
            padding: 0.5rem;
            
            a {
                text-decoration: none;
                color: #4f4f4f;
            }

            .product-btn {
                padding: 0.35rem 0.65rem;
                border-radius: 0.5rem;
                border: 1px solid #909090;
                margin: 1rem 0;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

    }
}

.img-large {
    max-width: 100%;
}

.img-thumbnail {
    height: 80px;
}

.small-container {
    max-width: 40rem;
}

.checkout-steps > div {
    border-bottom: 0.2rem solid #a0a0a0;
    color: #a0a0a0;
}
.checkout-steps > div.active {
    border-bottom: 0.2rem solid #f08000;
    color: #f08000;
}